<launch>

  <!-- 2d init odom -->
  <node pkg="create_navigation" type="init_position.py" name="init_odom_map" output="screen" />

  <!-- Run the map server with the desired map   -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find create_navigation)/maps/room_gmapping.yaml"/>

   <!-- fake localization -->
  <node pkg="create_navigation" type="pub_fake_localization.py" name="publish_fake_localization" output="screen"/>

  <!-- Run the move_base node -->
  <include file="$(find create_navigation)/launch/fake_move_base.launch" />

</launch>
