<?xml version="1.0"?>
<launch>  

  <!-- Run a static transform between /base_footprint and /laser   --> 
   <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" 
args="0 0 0.18 0 0 0 /base_footprint /base_scan 10" /> 


  <!-- Load the desired map with map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find create_navigation)/maps/sim.yaml"/> 

  <!-- Start the move_base node -->  
  <include file="$(find create_navigation)/launch/move_base.launch" /> 

  <!-- Start the AMCL node -->  
  <include file="$(find create_navigation)/launch/amcl.launch" />

  <!-- Start Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" />

    
</launch>
